.task-creator {
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}
.creator-input {
    background: #fff;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.creator-button {
    background: rgb(67, 101, 216);
    padding: 10px 20px;
    border: 1px solid rgb(1, 45, 192);
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    margin-right: 10px;
    max-width: 150px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
    transition: background 300ms;
}

.creator-button:hover {
    background: rgb(100, 133, 243);
}

.creator-button:active,
.creator-button:focus {
    box-shadow: none;
    outline: none;
}

.creator-button.button-main {
    background: rgb(160, 0, 125);
    border: 1px solid rgb(107, 0, 84);
}

.creator-button.button-main:hover {
    background: rgb(190, 2, 149);
}
.button-inner {
  padding-left: 25px;
  position: relative;
}

.button-icon {
  position: absolute;
  left: 0;
  top: 1px;
  height: 14px;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }