.task-creator {
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}
.creator-input {
    background: #fff;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.creator-button {
    background: rgb(88, 124, 245);
    padding: 10px 20px;
    border: 1px solid rgb(1, 45, 192);
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    margin-right: 10px;
    max-width: 150px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
    transition: background 300ms;
}

.creator-button:hover {
    background: rgb(100, 133, 243);
}

.creator-button:active,
.creator-button:focus {
    box-shadow: none;
    outline: none;
}

.creator-button.button-main {
    background: rgb(245, 125, 88);
    border: 1px solid rgb(192, 61, 1);
}

.creator-button.button-main:hover {
    background: rgb(255, 145, 112);
}