.task-item {
    display: block;
    padding: 10px;
    border: 1px dotted #ccc;
    margin-bottom: 3px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
.task-list h1 {
    margin-top: 0;
}